@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

body {
    background-color: #1e1b1eff;
}

.container{
    display: flex;
    justify-content: start;
}

.contracted {
    width: 5rem;
    height: 100vh;
    background-color: #3841e7;
}

.svg-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
    margin: 3rem 0;
}

.extended {
    width: 25rem;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    /* border-right: 1px solid gray; */
    background-color: #434ce6;
    transition: width 1s;
    color: white;
}

h1 {
    text-align: center;
    margin: 2rem auto;
    font-weight: 400;
    font-size: 2rem;
}

li {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: 400;
    border-radius: .5rem;
    text-align: left;
    margin: 1.2rem 2rem;
    padding: .5rem 2rem;
    box-shadow: 0 0 5px 4px rgba(70, 70, 70, 0.221);
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}



/* li:active {
     border-radius: 0rem .2rem .2rem 0; 
    border-bottom: 7px solid purple;
}  ESTO SE TIENE QUE USAR PARA EL CLICK*/ 

li:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 300ms, color 300ms;
}

.contracted svg {
    color: white;
    margin: .2rem auto;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.contracted svg:hover {
    background-color: #6167ebff;
    transition: background-color 200ms;
}


#abrir {
    display: flex;
    width: 2rem;
    height: 2rem;
    margin: 2rem auto;
    padding: 0;
    transition: transform 1.5s;
}

#abrir:hover {
    background-color: rgba(102, 51, 153, 0.063) ;
}

.cerrar {
    transform: rotate(180deg);
    transition: transform 1.5s;
}


.contraccion {
    transition: opacity 4s; 
}